
<div class="column row align-center">
  <div class="product-details column medium-6 center-text-for-small-only">
  <img src="https://placehold.it/1000x1000&amp;text=Thumbnail">
    <h1><%= link_to @game.name %></h1>
    <p class="product-description"><%= @game.description %></p>
      <div class="row">
      </div>
      <div class="product-details-add-to-cart">
        <p><span class="in-stock">In Stock</span> <span class="dim-text">(Only <%= @game.stock %> left in Stock)</span></p>
        <hr>
        <p class="price">$<%= @game.price %></p>
        <%= render "game_row", game: @game, order_item: @order_item %>
      </div>
      <%= link_to 'Edit', edit_game_path(@game) if current_user.try(:admin?) %>
      <%= link_to 'Delete', game_path(@game), method: :delete, data: {confirm: 'Are you sure?'} if current_user.try(:admin?) %>
      <%= link_to 'Back', games_path %>
  </div>
</div>

